<!DOCTYPE html>
<html lang="en">
    <head>
        <title>About</title>
        <link rel="icon" href="https://d2eip9sf3oo6c2.cloudfront.net/tags/images/000/000/184/full/html5.png">
        
        <meta charset="utf-8"> 
        <link rel="stylesheet" href="./css/style.css">
    </head>
    <body>
        {{>header}} 
        <h1>{{title}}</h1>
        <p>{{paragraph}}</p>
        {{>footer}} 
    </body>
</html>
