<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Home</title>
        <link rel="icon" href="https://d2eip9sf3oo6c2.cloudfront.net/tags/images/000/000/184/full/html5.png">
        <meta charset="utf-8"> 
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
        <link rel="stylesheet" href="./css/style.css">

        <script src="./js/app.js"></script>
        <!-- jQuery library -->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

        <!-- Latest compiled JavaScript -->
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
    </head>
    <body>
       {{>header}} 
        <div class="container-fluid">
            <h1>{{title}}</h1>
            <h2>{{title}}</h2>
            <div class="row">
                <div class="col-xs-6">
                    {{col1}}
                    <img src="./img/mamoli.jpg">

                </div>
                <div class="col-xs-6">
                    {{col2}}
                </div>
            </div>
        </div>
         {{>footer}} 
    </body>
</html>
