body{
    margin: 0;
    padding: 0;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
h1{
    color: grey;
    font-size: 40px;
}

img{
    width:100%;
}

header{
    margin: 0;
    background:#795548;
    padding-top: 1%;
    padding-bottom: 1%;
}
ul{
    display: flex;
    text-align: center;
}
li{
    text-align: center;
    width: 100%;
    list-style: none;
}

a{
    color: white;
    text-decoration: none;
}

footer{
    margin: 0;
    background: #795548;
    width: 100%;
    padding-top: 1%;
    padding-bottom: 1%;
    color: white;
    text-align: center;
    position: absolute;
    bottom: 0;
}